.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(110vw + 1rem);
  max-width: 350px;
  height: 100vh;
  background: var(--primary-900);
  box-shadow: var(--shadow-light-4);
  border-radius: 0 3rem 0 0;
  z-index: 100;
  padding-left: 3rem;
}

.cancelBtn {
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  border-color: transparent;
  background: var(--white);
  cursor: pointer;
  transition: var(--transition);
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 50%;
  font-size: 1.25rem;
  padding: 0.35rem 0.4rem;
  display: grid;
  color: var(--red-dark);
  background: var(--red-light);
}

.cancelBtn:hover {
  background: var(--red-dark);
  color: var(--white);
}

.linksUL {
  display: block;
  padding-top: 7rem;
}

.link {
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  transition: var(--transition);
}

.link a {
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  gap: 0 0.75rem;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
  transition: var(--transition);
  font-size: 1.25rem;
}

.link:hover {
  background: var(--primary-500);
  padding-left: 0.75em;
  border-right: 7px solid var(--white);
}

.link span:first-child {
  margin-bottom: -0.5rem;
  color: var(--primary-300);
  transition: var(--transition);
}

.link:hover span:first-child {
  color: var(--primary-800);
}

.socialLinksUL {
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
}

.socialLink a {
  color: var(--white);
  font-size: 1.25rem;
  transition: var(--transition);
}

.socialLink a:hover {
  color: var(--primary-300);
}

@media screen and (min-width: 786px) {
  .sidebar {
    padding-left: 2.5rem;
  }
  .link a {
    font-size: 1.5rem;
    gap: 0 1rem;
  }
  .socialLink a {
    font-size: 1.5rem;
  }
  .cancelBtn {
    top: 1rem;
    right: 0;
    font-size: 1.5rem;
    padding: 0.5rem 0.6rem;
  }
}
